# Environment
.env
.env.example
# Data
data/raw/*.parquet
data/raw/*.csv
data/cleaned/*.parquet
data/processed/*.parquet

# Models
models/v*/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/

_normalize_all_brands.py
_extract_make_model.py

dockerfile_for_me
